@charset "utf-8";
/* CSS Document */

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}


.icon1 {
	position: relative;
}
	.icon1:after {
		content: "▶";
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -4px;
		font-size: 9px;
	}



/* pc */
@media only screen and (min-width:800px){
	.heading01 {
		text-align: left;
    padding: 15px 15px 15px 30px;
    font: 26px bolder ;
    margin: 30px 0 25px 0;
		font-weight: 700;
		position: relative;
	}

	.heading01:before{
		content: "";
		width: 20px;
		height: 10px;
		background-color: #f17602;
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -5px;
	}

	.heading02 {
	background-color:#f2efec;
	text-align: left;
	border-bottom: 2px solid #f27601;
	padding: 15px;
	font-size:18px;
	margin: 30px 0 20px 0;
	font-weight:700;
	}

	.heading03 {
	background-color:#eeebe8;
	padding: 15px 15px 15px 20px;
	font-size:17px;
	margin: 30px 0 20px 0px;
	font-weight:700;
	position: relative;
	}

	.heading03:before{
		content: "";
		width: 10px;
		height: 5px;
		background-color:#f17602;
		display: block;
		left: 0;
		position: absolute;
		top: 50%;
		margin-top: -3px;
	}

	.heading04{
	padding: 20px 0px 20px 10px;
	font-weight:700;
	position:relative;
	font-size: 15px;
	}

	.heading04:before {
		content: "▶";
		right: 10px;
		top: 50%;
		margin-top: -4px;
		font-size: 9px;
		position: relative;;
	}

	.heading05{
		text-align: left;
		padding: 30px 0 20px 0;
		font-weight: 700;
		font-size: 16px;
	}

	.heading06{
		background-color:#eeebe8;
	padding: 15px;
	font-size:15px;
	margin: 30px 0 20px 0;
	font-weight:700;
	}

	.columns {
		margin: 0 -10px;
		font-size: 15px;
	}

	.columns.-two {

	}
	.columns.-two ._column {
		width: 50%;
		float: left;
		padding: 0 10px;
		margin-bottom: 20px;
	}

	.columns.-three ._column {
		width: 33%;
		float: left;
		padding: 0 10px;
		margin-bottom: 20px;
	}


.hed{
	display:none;
	}

	#header {
		width: 1000px;
		margin: 0 auto;
	}

#footer{
	width: 100%;
	text-align: center;
}

	.footer2{
			display: none;
	}

#contents{
	width: 1000px;
	margin: 0 auto;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

	img{
		max-width: 100%;
		height: auto;
	}



	#siki{
		display: none;
	}



a{
	margin-right: 20px;
	padding-left: 15px;
	text-align: left;
	position: relative;;
}

a::before{
	content: "▶";
	right: 10px;
	top: 50%;
	left: 0;
	margin-top: -5px;
	font-size: 9px;
	position: absolute;
	color: #f17602;
}

span{
	color: #F49000;
}

i{
	color: #8B8B8B;

}



	img .hai{
	width: 800px;
	height: 150px;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
}

	.syuutou{
		display: none;
	}

}


.mana{
	overflow: hidden;
}

	.mana .box:last-child {
		margin-left: 20px;
	}
	.mana p{
		text-align: left;
		margin: 20px 0 20px 0;
		font-size: 13.5px;
		line-height: 160%;
	}

.box{
	float: left;
	width: 490px;
}

.kousoku{
	 border: 1px solid #cccccc;
    padding: 10px 20px;
}

	.kousoku h4{
		text-align: left;
		border-bottom: dashed;
		border-bottom-width: 1px;
		margin-bottom: 20px;
	}

.SA{
	 border: 1px solid #cccccc;
    padding: 10px 20px;
}

	.SA h4{
		text-align: left;
		border-bottom: dashed;
		border-bottom-width: 1px;
		margin-bottom: 20px;
	}


.koutuu p{
		color: white;
		text-align: center;
	}

	.koutuu p:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.kou{
		text-align: center;
		background-color:#67594e;
		padding: 10px;
		font-size: 15px;
	}

._column p{
	font-size: 15px;
}

 .jyou{
		text-align: left;
		background-color:#eeebe8;
		margin-bottom: 20px;
		padding: 15px 15px 15px 20px;
	}


.otoku{
	text-align: left;
	background-color:#eeebe8;
	margin-bottom: 20px;
}

	.rink{
		text-align: left;
	}

.banner ._banner{
	width: 50%;
	float: left;
	padding: 0 10px;
	margin-bottom: 60px;
}

.banner{
	margin: 0 -10px;
}

.yaji{
	text-align: right;
}

.hako{
	text-align: left;
	margin-right: 10px;
}

.none{
	display: none;
}










/* tablet */
@media only screen and (min-width: 641px) and (max-width: 800px){

body {
text-align: center;
margin: 0 auto;
width: 700px;
height: 2500px;
overflow-x: hidden;
}

#header{
	width: 100%;
	height: 250px;
	text-align: left;
}

	.hed{
		display: none;
	}

#contents{
	width: 100%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

	img{
		max-width: 100%;
		height: auto;
	}

h1{
	text-align: left;
	padding: 10px 0px;
}

#footer
	{
	width: 100%;
	height: 250px;
	text-align: center;
	margin-top: 10px;
	}

	.footer2{
		display: none;
	}

h1 img{
	margin-bottom: 5px;
	background: no-repeat;
}

h2{
	background-color:#EBEBEB;
	text-align: left;
	border-bottom: solid;
	border-bottom-color: #FFA702;
	border-bottom-width:2px;
	padding: 10px;
}

	#siki{
		display: none;
	}

h3{
	padding: 10px 0px;
}

h4{
	padding: 10px 0px;
	text-align: left
}

h5{
	text-align: left;
}

a{
	text-align: left;
}

span{
	color: #F49000;
}

i{
	color: #8B8B8B;
}

img .hai{
	width: 800px;
	height: 150px;
	display: block;
 margin-left: auto;
 margin-right: auto;
}

	.syuutou{
		display: none;
	}

	.rink{
		display:block;
	}

.gazou{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.kuruma{
	background-color:#D1D1D1;
	text-align: left;
}

.mana{
	overflow: hidden;
}

	.mana p{
		text-align: left;
	}

.box{
	width: 100%;
	text-align: center;

}


.kousoku{
	border: 4px double #ddd;
    margin: 2em 0;
    padding: 2em;
}

	.kousoku h4{
		text-align: left;
		border-bottom: dashed;
		border-bottom-width: 1px;
	}

.SA{
	border: 4px double #ddd;
    margin: 2em 0;
    padding: 2em;
}

	.SA h4{
		text-align: left;
		border-bottom: dashed;
		border-bottom-width: 1px;
	}



	.koutuu p{
		color: white;
		text-align: center;
		width: 100%;
	}
	.koutuu p:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.kou{
		text-align: center;
		background-color:#6F5844;
		padding: 30px 0px;
		font-size: 20px;
	}

	.jyou{
		text-align: left;
		background-color:#D0D0D0;
	}

.otoku{
	text-align: left;
	margin-bottom: 20px;
}

	.rink{
		text-align: left;
		display: block;
	}


.yaji{
	text-align: right;
}
.hako{
	text-align: left;
	margin-right: 10px;
	background-color:#D0D0D0;
}

}








/* smartPhone */

@media only screen and (max-width: 640px){


body {
text-align: center;
margin: 0 auto;
width: 100vw;
height: 3000px;
overflow-x: hidden;
}

	#header{
		display: none;
	}

	#header2{
		width: 100vw;
		height: auto;
		text-align: left;
	}

#footer{
	width:auto;
	height: 250px;
	text-align: left;
	margin-top: 160px;
	display: none;
}

	#siki{
	font-size: 30px;
	margin-bottom: 30px;
	}

#main{
	width: 800px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}


h1{
	text-align: left;
	padding: 10px 0px;
}

	h1 img{
		margin-bottom: 5px;
	}

h2{
	background-color:#EBEBEB;
	text-align: left;
	border-bottom: solid;
	border-bottom-color: #FFA702;
	border-bottom-width:2px;
	padding: 10px;
}

	img{
		max-width: 100%;
		height: auto;
	}

	.chibi1{
		float: left;
		width: 50%;
	}

	.chibi2{
		float:right;
		width: 50%;
	}

	.chibi3{
		float: left;
		width: 50%;
	}

	.chibi4{
		float:right;
		width: 50%;
	}

	.chibi1:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.chibi2:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.chibi3:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.chibi4:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

.chibi1,
.chibi2{
	background-color:#EBEBEB;
	text-align: left;
	color: white;
	text-align: center;
	background-color:#6F5844;
	}

.chibi3,
.chibi4{
	background-color:#EBEBEB;
	text-align: left;
	color: white;
	text-align: center;
	background-color:#6F5844;
	}

h3{
	padding: 10px 0px;
}

h4{
	padding: 10px 0px;
}

h5{
	text-align: left;
}

a{
	margin-right: 30px;
	text-align: left;
}

span{
	color: #F49000;
}

i{
	color: #8B8B8B;
}

img .hai{
	width: 800px;
	display: block;
 margin-left: auto;
 margin-right: auto;
}

	.syun{
		display: none;
	}

	.syuutou{
		width: 100%;
	}

.rink{
		display: block;
	}

.gazou{
	width: 100%;
	height: auto;
}

.kuruma{
	background-color:#D1D1D1;
	text-align: left;
	margin-top: 10px;
}

.mana{
	overflow: hidden;
}

	.mana p{
		text-align: left;
	}

.box{
	width: 100%;
	text-align: center;
}


.kousoku{
	 border: 4px double #ddd;
    margin: 2em 0;
    padding: 2em;
}

	.kousoku h4{
		text-align: center;
		border-bottom: dashed;
		border-bottom-width: 1px;
	}

.SA{
	 border: 4px double #ddd;
    margin: 2em 0;
    padding: 2em;
}

	.SA h4{
		text-align: center;
		border-bottom: dashed;
		border-bottom-width: 1px;
	}



	.koutuu p{
		color: white;
		text-align: center;
		width: 100%
	}

	.koutuu p:hover{
		opacity: 0.5;
		text-decoration: underline;
	}

	.kou{
		text-align: center;
		background-color:#6F5844;
		text-align: left;
		color: white;
		padding: 30px 0px;
		font-size: 20px;
	}

	.jyou{
		text-align: left;
			background-color:#D0D0D0;
}


.otoku{
	text-align: left;
	margin-bottom: 20px;
	width: 100vw;
}

.rink{
	text-align: left;
	display: block;
}


.yaji{
	text-align: right;
}

.hako{
	text-align: left;
	background-color:#D0D0D0;
	margin-right: 10px;
}

span, .ya{
		text-align: right;
		color: white;
	}
}
